{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": "off",
    "no-trailing-spaces": "error",
    "semi": [
      "error",
      "always"
    ]
  }
}
